.App {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  max-width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter {
  margin: 20px;
}

input {
  padding: 5px;
  margin-right: 10px;
}

img {
  max-width: 100%;
  height: auto;
}
